* {
  margin: 0px;
  padding: 0px;
}

body {
  vertical-align: middle;
  font-family: 'Epilogue', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans';
  font-style: normal;
  transition: 0.2s ease-in 100ms;

    --primary-bg: #F1F1F1;
    --primary-text: #111111;
    --link: #111111;
    --button-bg: #1e1e1e;
    --button-text: #d9d9d9;
    --button-border: #1e1e1e;
    --form-bg: #d9d9d9;
    --form-text: #595959;

  background-color: var(--primary-bg);
  color: var(--primary-text);
}



body.dark {
  --primary-bg: #373737;
  --primary-text:#f1f1f1;
  --button-bg: #d9d9d9;
  --button-text: #1e1e1e;
  --button-border: #d9d9d9;
  --form-bg: #595959;
  --form-text: #d9d9d9;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 292px;
  height: 26px;
  margin-top: 40px;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom:  35px;
}

h3 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-text);
}

.label {
  display:flex;
  width: 30px;
  height: 16px;
  border-radius: 18px;
  padding: 1px;
  background-color: #D9D9D9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F1F1F1;
  position: absolute;
  right: 15px;
  transition: transform 0.2s ease-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.img {
  width: 80px;
  height: auto;
}

h1 {
  width: 219px;
  height: 71px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120.5%;
  margin-bottom: 5px;
}

p, a, .popup {font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120.5%;
  color: var(--primary-text);
  }

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 230px;
  height: 300px;
  background-color: var(--primary-bg);
  border-radius: 35px;
  z-index: 10;
  padding: 35px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-heading {
  width: 192px;
  text-align: center;
  margin-bottom: 15px;
}

.smicons {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.smlinks {
  display: flex;
  flex-direction: column;
}

.singlelink {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.button3 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 255px;
  top: 20px;
  background: var(--button-bg);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 54px;
  color: var(--button-text);
  border: 0px;
  
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup, .popup1 {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  font-weight: 700;
  cursor: pointer;
}

a:hover, .popup:hover {
  color: #49FF51;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  width: 292px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 292px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#pc {
  order: 1;
}

#pctext {
  order: 2;
}

.pc {
  width: 289px;
  height: 105px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120.5%;
  color: var(--primary-text);
  margin-bottom: 10px;
}

.button1, .button2 {
  display: flex;
  align-items: center;
  justify-content: space-between
  transition color 0.2s ease-in 100ms;

  width: 50px;
  height: 16.67px;
  border-radius: 50px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: var(--button-bg);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  border-width: 0px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120.5%;
  color: var(--button-text);
  text-align: center;
}

.bimg {
  width: 12px;
  height: auto;
  margin-left: 4px;
  align-self: center;
}

button:active {
  filter: drop-shadow(0px 16px 47px rgba(73, 255, 81, 0.8));
  background: #49FF51;
  color: #111111;
  border-width: 0px;
  border-color: var(--button-border);
}

.about-me {
  width: 292px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.amd {
  margin-bottom: 16px;
}

.lwt {
  width: 292px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.form1, .form2 {
  width: 272px;
  height: 32.5px;
  padding-left: 20px;
  margin-bottom: 5px;
  background-color: var(--form-bg);
  border-radius: 7px;
  border-width: 0ch;
  font-family: 'Open Sans';
  font-style: normal
  font-weight: 400;
  font-size: 12px;
  line-height: 120.5%;
  align-items: center;
  color: var(--form-text);
}

.form2 {
  height: 125px;
  width: 252px;
  align-items: left;
  padding-right: 20px;
  padding-top: 10px;
}

.button2 {
  width: 292px;
  height: 32.5px;
  border-radius: 7px;
  border-width: 0ch;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120.5%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  padding-left: 90px;
}

.smdiv {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 63px;
}

@media only screen and (min-width: 768px) {

  .top {
    width: 578px;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  h3 {
    font-size: 20px;
  }

  .label {
    display:flex;
    width: 38px;
    height: 20px;
    border-radius: 20px;
    padding: 0.5px;
  }

  .modal {
    width: 500px;
    height: 250px;
    padding: 50px;
  }

  .modal-heading {
    width: 435px;
    margin-bottom: 40px;
  }

  .mh {
    font-size: 28px;
  }
  
  .smicons {
    width: 35px;
    margin-right: 10px;
  }

  .smdivv {
    display: flex;
    flex-direction: row;
    height: 195px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .singlelink {
    height: 27px;
    margin-top: 20px;
  }
  
  .button3 {
    width: 27px;
    height: 27px;
    left: 545px;
    top: 25px;
    font-size: 20px;
  }

  .ball {
    width: 19px;
    height: 19px;
    right: 19px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(17px);
  }

  .img {
    width: 200px;
    height: auto;
  }

  h1 {
    width: 285px;
    height: 96px;
    font-size: 27.5px;
    margin-bottom: 32px;
  }

  p, a, .popup {
    font-size: 16px;
    }

  .main {
    height: 233.5px;
    width: 578px;
    margin-bottom: 80px;
    }

  h2 {
    font-size: 20px;
  }
  
  .project-card {
    flex-direction: row;
    width: 578px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
    }
  
  #pc, #pctext {
    order: initial;
  }

  #pctext {
    display: flex;
    flex-direction: column;
    width: 267px;
  }

  .pc {
    width: 263.5px;
    height: 158px;
    border-radius: 15px;
  }

  .button1 {
    width: 65px;
    height: 25px;
    font-size: 12px;
    align-items: center;
  }

  .bimg {
    width: 18px;
    height: auto;
  }

  .about-me {
    width: 578px;
    margin-bottom: 50px;
  }

  .lwt {
    width: 578px;
  }

  .lwtinside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .smdiv {
    align-self: center;
    font-size: 16px;
  }

}

@media only screen and (min-width: 1000px) {

  .top {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  h3 {
    font-size: 30px;
  }

  .label {
    display:flex;
    width: 58px;
    height: 30px;
    border-radius: 30px;
    padding: 1px;
  }

  .ball {
    width: 29px;
    height: 29px;
    right: 29px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(27px);
  }

  .modal {
    width: 675px;
    height: 325px;
    padding: 50px;
  }

  .modal-heading {
    width: 525px;
    margin-bottom: 50px;
  }

  .mh {
    font-size: 32px;
  }
  
  .smicons {
    width: 50px;
    margin-right: 20px;
  }

  .smdivv {
    display: flex;
    flex-direction: row;
    height: 195px;
    width: 575px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .singlelink {
    height: 50px;
    margin-top: 20px;
  }
  
  .button3 {
    width: 35px;
    height: 35px;
    left: 700px;
    top: 25px;
    font-size: 24px;
  }

  .img {
    width: 300px;
    height: auto;
  }

  h1 {
    width: 450px;
    height: 150px;
    font-size: 40px;
    margin-bottom: 32px;
  }

  p, a, .popup {
    font-size: 24px;
    }

  .main {
    height: auto;
    width: 900px;
    margin-bottom: 80px;
    }

  h2 {
    font-size: 30px;
  }
  
  .project-card {
    flex-direction: row;
    width: 900px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
    }
  
  #pc, #pctext {
    order: initial;
  }

  #pctext {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .pc {
    width: 398.5px;
    height: 237px;
    border-radius: 23px;
  }

  .button1 {
    width: 87px;
    height: 37px;
    font-size: 16px;
    align-items: center;
    padding-left: 12px;
  }

  .button1:hover, .button2:hover, .button3:hover {
    filter: drop-shadow(0px 16px 47px rgba(73, 255, 81, 1));
  }

  .bimg {
    width: 27px;
    height: auto;
  }

  .about-me {
    width: 900px;
    margin-bottom: 80px;
  }

  .about-me-d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .amd {
    width: 430px;
  }

  .lwt {
    width: 900px;
    margin-bottom: 80px;
  }

  .lwtinside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .form1, .form2 {
    width: 398.5px;
    height: 50px;
    font-size: 20px;
  }

  .form2 {
    width: 379px;
    height: 150px;
  }

  .button2 {
    width: 420px;
    height: 50px;
    font-size: 20px;
    padding-left: 140px;
    margin-top: 10px;
  }

  .smdiv {
    align-self: center;
    font-size: 24px;
  }

}
